:root {
	--primary-text-color: #4f4f4f;
	--secondary-text-color: #828282;
	--tertiary-text-color: #bdbdbd;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

button {
	color: #ffffff;
	background-color: #2f80ed;
	border-radius: 8px;
	padding: 8px 18px;
	border: none;
	cursor: pointer;
	font-family: "Noto Sans", sans-serif;
	font-weight: 500;
	font-size: 12px;
}
h1 {
	font-weight: 500;
	font-size: 18px;
	color: var(--main-text-color);
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
